@page "/calculo"

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,500,600">
    <title>Cálculo</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Cálculo de IMC</h1>
        <div>
            <input type="text" placeholder="Altura">
            <input type="text" placeholder="Peso">
            <input type="text" placeholder="Sexo">
        </div>
        <div class="cbox">
            <input type="checkbox" name="idade" />
            <label for="idade">Tenho 65 anos ou mais</label>
        </div>
        <button class="primary-button">Calcular meu IMC</button>
        <button class="secondary-button">Entenda o cálculo</button>
    </div>
</body>

@code {

}
