@page "/historico"

<body>

<div class="container">
    <div class="icon">
        <img style="display: block; margin: auto;" src="/assets/icon-no-bg.png">
    </div>
    <h1 class="title">Histórico</h1>
    <input class="br-25rem" type="text" placeholder="Pesquisar..."> 
    <ul class="notifications">
        <li class="notification">
            <div class="icon2"></div>
            <article class="content">
                <header class="title-time">
                    <h2 class="title">Peso ideal ✅</h2>
                    <p class="time">8m atrás</p>
                </header>
                <p class="info">Parabéns, você está no seu peso ideal, continue mantendo este estilo!</p>
            </article>
        </li>
          
        <li class="notification">
            <div class="icon2"></div>
            <article class="content">
                <header class="title-time">
                    <h2 class="title">Sobrepeso ⛔️</h2>
                    <p class="time">23/12/2023</p>
                </header>
                <p class="info">Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!</p>
            </article>
        </li>
    </ul>
</div>
   
</body>

@code {

}
