@page "/historico"
@inject LocalStorageService _localStorageService
@inject TimeService _timeService

<div class="container">
    <div class="icon">
        <img style="display: block; margin: auto;" src="/assets/icon-no-bg.png">
    </div>
    <h1 class="title">Histórico</h1>
    <input class="br-25rem" type="text" placeholder="Pesquisar..."> 
    <ul class="notifications">
       @if (results.Count > 0)
       {
           foreach (var result in results)
           {
               <li class="notification">
                   <div class="icon2"></div>
                   <article class="content">
                       <header class="title-time">
                           <h2 class="title">@result.ImcResultTitle</h2>
                           <p class="time">@_timeService.GetPassedTime(result.CalculatedAt)</p>
                       </header>
                       <p class="info">@result.ImcResultInfo</p>
                   </article>
               </li>
           }
       }
       else
       {
           <span class="no-history-info">Nenhum cálculo feito recentemente.</span>
       }
    </ul>
</div>

@code {
    List<ImcResult> results = [];

    protected override async Task OnInitializedAsync()
    {
        results = await _localStorageService.GetAllResultsFromLocalStorage();
        results.Reverse();
    }
}
